@font-face {
  font-family: "Syne Extra Bold";
  src: url("../fonts/static/Syne-ExtraBold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Syne Bold";
  src: url("../fonts/static/Syne-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Syne Medium";
  src: url("../fonts/static/Syne-Medium.ttf");
  font-weight: medium;
  font-style: normal;
}
:root {
  --default-html-and-body-margin: 0;
  --default-html-and-body-padding: 0;
  --font-size-h1: 3rem;
  --first-font-size: medium;
  --font-size-content: large;

  --normal-font-weight: 400;
  --heavy-font-weight: 600;

  --first-line-height: 1;
  --first-color: black;
  --second-color: #888;
  --third-color: #ccc;

  --execution-color: #d30001;

  --first-margin: 10vw;
  --padding-left: 1.5rem;
  --first-width: 90vw;
  --first-height: 100%;
  --first-box-shadow: none;
  --border-radius: 1.625rem;
  --first-border-width: 0;
  --first-opacity: 1;

  --margin-top: 1rem;

  --code-font: Fira Mono;
  /* transitions */
  --transition-button-hover: scale(1.1, 1.1);

  --button-padding: 0.5rem;
  --button-disabled: #ddd;

  --background-color: #312e81;

  /* gradient background */
  --gb-height: 100%;
  --gb-background-size: cover;
  --gb-background-position: center center;
  --gb-background: var(--background-image);
  --gb-background-repeat: no-repeat;
  --background-image: linear-gradient(
    109.6deg,
    rgba(238, 58, 136, 1) 11.2%,
    rgba(128, 162, 245, 1) 91.1%
  );
  --cta-background-color: #fcd34d;
}
* {
  font-family: "Syne Medium";
}

html {
  margin: var(--default-html-and-body-margin);
  padding: var(--default-html-and-body-padding);
  background-image: url("/assets/images/ooorganize.svg");
  overflow-x: hidden;
  /* height: var(--gb-height);
  background-size: var(--gb-background-size);
  background-position: var(--gb-background-position);
  background: var(--background-image);
  background-repeat: var(--gb-background-repeat); */
}

body {
  margin: var(--default-html-and-body-margin);
  padding: var(--default-html-and-body-padding);
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  cursor: pointer;
}

#brand-logo-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#brand-logo-title {
  font-family: "Syne Extra Bold";
}
.cta-button {
  text-align: center;
  border-radius: var(--border-radius);
  padding: 1rem;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: var(--cta-background-color);
  color: black;
  text-decoration: none;
  transition: transform 300ms;
}
.cta-button:hover {
  transform: var(--transition-button-hover);
}
/* Define the animation for the images */
@keyframes rotate-images {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Apply the animation to the images */
.rotating-images {
  animation: rotate-images 70s ease-out infinite;
}

nav {
  background-color: white;
  opacity: 0.95;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  width: 100%;
  z-index: 99;
}
p {
  font-size: larger;
}
.section-title {
  color: black;
  font-weight: bold;
  text-align: center;
  padding-inline: 1ch;
}
.brand-logo {
  width: 2rem;
  height: 2rem;
}
.hero-image {
  object-fit: contain;
  width: auto;
  height: 50vh;
}
#the-mid {
  padding: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#the-mid > * {
  margin-bottom: 10rem;
}
#hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30ch;
}
#hero-section-title {
  font-family: "Syne Extra Bold";
  font-size: var(--font-size-h1);
  text-align: center;
}
#hero-section-subtitle {
  text-align: center;
  color: #52525b;
}
#main-gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100%;
}
#second-gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.description-section {
  padding-inline: 1ch;
  text-align: center;
  color: #52525b;
  text-overflow: ellipsis;
}
.cta-description-section {
  padding-inline: 1ch;
  text-align: center;
  color: #52525b;
  text-overflow: ellipsis;
}
#cta-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#cta-end-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #52525b;
}
.description-parent {
  padding-inline: 4rem;
}
#gallery-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-gallery-image {
  object-fit: contain;
  width: 50%;
  height: auto;
}
#cta-section-image {
  width: auto;
  height: 50vh;
}
.end-page-svg {
  position: absolute;
  z-index: -1;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 5rem;
}
/*under 1024px*/
@media screen and (max-width: 1024px) {
  #main-gallery {
    flex-direction: column;
  }
  #second-gallery {
    flex-direction: column;
  }
  #cta-section {
    flex-direction: column;
  }

  section {
    max-width: 100vw;
  }

  .main-gallery-image {
    width: auto;
    height: 40vh;
    margin-bottom: 2rem;
  }
  .description-section {
    padding-inline: 2rem;
  }
  nav {
    justify-content: space-evenly;
  }
  footer {
    justify-content: space-evenly;
  }
}
