@font-face {
  font-family: "Syne Extra Bold";
  src: url("../fonts/static/Syne-ExtraBold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Syne Bold";
  src: url("../fonts/static/Syne-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Syne Medium";
  src: url("../fonts/static/Syne-Medium.ttf");
  font-weight: medium;
  font-style: normal;
}
:root {
  --default-html-and-body-margin: 0;
  --default-html-and-body-padding: 0;
  --font-size-h1: 3rem;
  --first-font-size: medium;
  --font-size-content: large;

  --normal-font-weight: 400;
  --heavy-font-weight: 600;

  --first-line-height: 1;
  --first-color: black;
  --second-color: #888;
  --third-color: #ccc;

  --execution-color: #d30001;

  --first-margin: 10vw;
  --padding-left: 1.5rem;
  --first-width: 90vw;
  --first-height: 100%;
  --first-box-shadow: none;
  --border-radius: 1.625rem;
  --first-border-width: 0;
  --first-opacity: 1;

  --margin-top: 1rem;

  --code-font: Fira Mono;
  /* transitions */
  --transition-button-hover: scale(1.1, 1.1);

  --button-padding: 0.5rem;
  --button-disabled: #ddd;

  --background-color: #312e81;

  /* gradient background */
  --gb-height: 100%;
  --gb-background-size: cover;
  --gb-background-position: center center;
  --gb-background: var(--background-image);
  --gb-background-repeat: no-repeat;
  --background-image: linear-gradient(
    109.6deg,
    rgba(238, 58, 136, 1) 11.2%,
    rgba(128, 162, 245, 1) 91.1%
  );
  --cta-background-color: #fcd34d;
}
* {
  font-family: "Syne Medium";
}
html {
  margin: var(--default-html-and-body-margin);
  padding: var(--default-html-and-body-padding);

  /* height: var(--gb-height);
  background-size: var(--gb-background-size);
  background-position: var(--gb-background-position);
  background: var(--background-image);
  background-repeat: var(--gb-background-repeat); */
}

body {
  margin: var(--default-html-and-body-margin);
  padding: var(--default-html-and-body-padding);

  display: flex;
  flex-direction: column;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  cursor: pointer;
}
#brand-logo-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#brand-logo-title {
  font-family: "Syne Extra Bold";
}
.cta-button {
  text-align: center;
  padding: 1rem;
  border-width: 2px;
  border-color: black;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  background-color: var(--cta-background-color);
  color: black;
  text-decoration: none;
}
.cta-button:hover {
  text-decoration: wavy;
}
nav {
  background-color: white;
  opacity: 0.95;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 1rem;
  width: 100%;
}
.brand-logo {
  width: 2rem;
  height: 2rem;
}
#the-mid {
  padding: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30ch;
}
#hero-section-title {
  font-family: "Syne Extra Bold";
  font-size: var(--font-size-h1);
  text-align: center;
}
#hero-section-subtitle {
  text-align: center;
  color: #52525b;
}
#main-gallery {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#cta-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#cta-end-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-gallery-image {
  object-fit: contain;
  width: 50%;
  height: auto;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  bottom: 0;
  width: 100%;
  background-color: white;
}
/*under 1024px*/
@media screen and (max-width: 1024px) {
  #main-gallery {
    flex-direction: column;
  }
  .main-gallery-image {
    width: auto;
    height: 40vh;
  }
}
